* {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-60 {
  top: 60%;
  transform: translateY(-60%);
}

.top-0 {
  top : 0 ;
}

.left-0{
  left : 0 ;
}

.left-10 {
  left : 10px; 
}

.right-0 {
  right: 0 ;
}

.right-10 {
  right: 10px; 
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-block {
  display: block;
}

.padding-rigth-5 {
  padding-right: 5px;
}

.contain {
  object-fit: contain;
}

.margin-0 {
  margin: 0;
}

.margin-20 {
  margin: 0 20px;
}

.margin-right-2 {
  margin-right: 2px;
}

.margin-auto {
  margin : auto;
}

.mb-0 {
  margin-bottom: 0px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1; 
}

.flex-1-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.flex-25 {
  flex: 0 0 25% ;
}

.flex-75 {
  flex: 0 0 75% ; 
}

.aspect-ratio-16-9 {
  aspect-ratio: 16 / 9;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

.justify-content-center  {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom : 10px; 
}

.margin-bottom-20 {
  margin-bottom : 20px; 
}


.margin-y-10 {
  margin: 10px 0px;
}

.margin-x-20 {
  margin-left : 20px;
  margin-right: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-x-20 {
  padding-left: 20px;
  padding-right: 20px; 
}

.white {
  background: #ffffff;
}
.grey {
  background-color: grey;
}

.background-img {
  background: url(../images/link_border.png) repeat-x;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

section a:hover > div {
  /*border : 1px solid red; */
  background: url(../images/link_bg.png) repeat-x
}

.google_play_logo {
  height: 50px ; 
  background-image: url(../images/google_play_logo.png) ;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 120%;
}


.focus-none:focus {
  outline: 0px;
}